@import './../../../../scss/variables';
@import './../../../../scss/colors';

.tab {
  display: flex;
  position: relative;
  overflow: hidden;
  height: $tab-height;

  .split {
    flex-direction: row;
    width: 100%;
    height: 100%;

    .left {
      height: 100%;
      flex-direction: column;
      flex: 1 1 0%;
      background-color: $dark;
    }

    .right {
      height: 100%;
      flex-direction: column;
      flex: 1 1 0%;
      background-color: $dark;
      padding-left: 20px;
    }
  }
}

::ng-deep .as-split-gutter {
  background-color: $light !important;
  border: 1px dashed rgba($gray, 0.2) !important;
}

::ng-deep .CodeMirror {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 100%;
}

::ng-deep .cm-s-material.CodeMirror {
  background-color: $dark;
  color: #e9eded;
}

::ng-deep .CodeMirror-gutter {
  background-color: $dark;
}

::ng-deep .cm-s-material .CodeMirror-gutters {
  background: $dark;
  color: #537f7e;
  border: none;
}

::ng-deep .CodeMirror-vscrollbar {
  overflow-y: hidden !important;
}

::ng-deep .CodeMirror-hscrollbar {
  overflow-x: hidden !important;
}

.execute-div {
  position: absolute;
  top: calc(#{$header-height} + 77px);
  left: 50%;
  z-index: 5;
  margin: 0px 14px 0px 28px;
}

.execute-button {
  width: 60px;
  height: 60px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(185, 191, 196);
  cursor: pointer;
  border-radius: 100%;
  transition: background-color 100ms ease 0s;
  border-width: 6px;
  border-style: solid;
  border-color: rgb(11, 20, 28);
  border-image: initial;
}

.execute-button svg {
  fill: inherit;
}

.toolbar {
  width: 100%;
  background-color: $light;
  height: 40px;
  display: flex;
  padding: 5px 10px 4px;
}

.button {
  text-transform: uppercase;
  font-weight: 600;
  color: $white;
  letter-spacing: 0.53px;
  font-size: 14px;
  margin-left: 6px;
  cursor: pointer;
  background-color: $dark;
  flex: 0 0 auto;
  padding: 3px 10px 6px 10px;
  border: 0px;
}

.toolbar-input {
  margin-left: 6px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
}

.input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  background: rgb(15, 32, 45);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(9, 20, 28);
  border-image: initial;
  padding: 6px 6px 6px 6px;
  flex: 1 1 0%;
}

.input:focus {
  color: $white;
  outline: none;
}

$type-colors: (
  string:  #c1b061,
  number: #009688,
  boolean: #b938a4,
  date: #05668D,

  array: #999,
  object: #999,
  function: #999,

  'null': #fff,
  undefined: #fff
);

@each $type, $color in $type-colors {
  ::ng-deep .segment-type-#{$type} > .segment-main > .segment-value {
    color: $color !important;
  }
}

::ng-deep .segment-key {
  color: $sky !important;
}

.resultsView {
  height: 100%;
  margin-right:10px;
  color:white;
}

.query-history-item {
  display: flex;
  padding: 10px 10px 10px 10px;
  border:0;
  border-bottom: 1px dotted rgba($gray, 0.5);
  color: $gray;
}

.query-history-item-status {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
}

.success {
  background-color: $success;
}

.error {
  background-color: $error;
}

.query-history-item-query {
  padding-left: 10px;

}

::ng-deep #codemirroResult {
  background-color: $light !important;

}
