

$dark: #121f2c;
$very-dark: #0b131b;

$light: #1a2a39;

$editor: #0f202d;

$gray: #aaa;
$white: #ddd;
$gold: gold;
$sky:  #4c9cca;
$black: #000;


$success: green;
$error: tomato;
$warning: $gold;

